* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-position: center;
	background-size: cover;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
}
nav {
	align-items: center;
	background-color: black;
	width: 100%;
	color: #fff;
}
.nav {
	height: 12rem;
}
.items {
	display: flex;
	justify-content: end;
	gap: 20px;
}
.item-ini, .item-col, .item-mex, .item-esp {
	display: inline-block;
	transform: translate(-7px);
	transition: 0.3s all;
	border-radius: 30px 30px 30px 30px;
	cursor: pointer;
	padding: 5px 20px;
	list-style-type: none;
	font-size: 1.5rem;
}
nav ul li:last-of-type {
	margin-right: 2rem;
}
nav ul {
	float: right;
	padding-top: 90px;
}
nav ul li:nth-child(2) {
	list-style: none;
}
.item-ini a, .item-col a, .item-mex a, .item-esp a {
    border-radius: 5px;
	padding: 5px 20px;
	text-decoration: none;
	color: white;
}
.item-ini:hover a{
	background-color: #fff;
	color: black;
}
input[type="checkbox"] {
	display: none;
}
a:active {
	color: white;
}
.imglogo {
	margin-left: 50px;
	padding-top: 45px;
	width: 115px;
}

.drop-col, .drop-mex, .drop-esp {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 1.4rem;
    background-color: white;
    width: 15rem;
    padding: 0.7rem;
}

.drop-col{
    transform: translateX(-1rem) translateY(1rem);
}

.drop-mex{
    transform: translateX(-1rem) translateY(1rem);
}

.drop-esp{
	transform: translateX(-0.3rem) translateY(1rem);

}

.drop-col li, .drop-mex li, .drop-esp li {
    list-style: none;
    font-size: 1.06rem;
    width: 100%;
	height: 36px;
	border-radius: 7px;
	justify-content: center;
}

.drop-col li:hover, .drop-mex li:hover, .drop-esp li:hover {
    background-color: gray;
}

.drop-col li a, .drop-mex li a, .drop-esp li a {
    text-decoration: none;
    color: black;
}



.check-col:checked ~ .drop-col,
.check-mex:checked ~ .drop-mex,
.check-esp:checked ~ .drop-esp {
    display: flex;
}

label {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

label:hover {
    background-color: #fff;
    color: black;
}

h2 {
    font-size: 2rem;
	text-align: center;
	color: black;
	padding: 20px;
}

h3{
	color: white;
	text-align: center;
	padding: 3px;
}

.sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.art{
    display: grid;
    grid-column: 1/2;
	background-color: black;
	color: white;
	width: 145%;
	margin: 12px;
	height: 94%;
	border-radius: 10px;
    gap: 5rem;
}


.art > .text{
    font-size: 1.3rem;
	margin: 10px;
	padding: 10px;
	justify-content: space-between;	
}

.asd > .text {
    font-size: 1rem;
    margin: 10px;
    justify-content: space-between;
}

.asd > .textf {
    font-size: 1.2rem;
    margin: 10px;
    justify-content: space-between;
}

.art > .textf{
    font-size: 1.2rem;
	margin: 10px;
	padding: 10px;
	justify-content: space-between;	
}

.asda > .textA {
    font-size: 1.1rem;
    margin: 10px;
    justify-content: space-between;
}

.art > .textA{
    font-size: 1.2rem;
	margin: 10px;
	padding: 10px;
	justify-content: space-between;	
}

.asd > .textT {
    font-size: 1.1rem;
    margin: 20px;
    justify-content: space-between;
}

.art > .textT{
    font-size: 1.3rem;
	margin: 10px;
	padding: 10px;
	justify-content: space-between;	
}

.aside{
    padding-top: 10px;
}

.asd{
    grid-column: 2;
    float: right;
    padding-top: 10px;
	background-color: black;
	color: white;
	width: 50%;
	height: 96%;
	border-radius: 10px 0 0 10px;	
}

.asda{
    grid-column: 2;
    float: right;
    padding-top: 10px;
	background-color: black;
	color: white;
	width: 50%;
	height: 97%;
	border-radius: 10px 0 0 10px;	
}


.conten {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: 0 auto; 
    gap: 50px;
}

.video {
    width: 35rem;
    height: 22rem;
    border-radius: 15px	;
}

.formu {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 30px;
}



.vidcont{
    padding-top: 20px;
    padding-bottom: 30px;
}

form {
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40rem;
    margin: 0 auto; 
}

h4 {
    margin-bottom: 10px;
}

select {
    width: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #333;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select, input[type="radio"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #B03A2E; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-inline: 16rem;
}

button[type="submit"]:hover {
    background-color: #CB4335; 

}

.social a {
	text-decoration: none;
}
.social {
	padding: 1rem;
}

.red {
	margin: 20px auto;
	overflow: hidden;
	transition: transform 0.3s, box-shadow 0.3s;
}

.red:hover {
		transform: translateY(-5px);
}

footer {
	background-color: black;
	text-align: center;
}
footer > address {
	color: #FFFFFFE3;
}